:root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: hsl(237, 86%, 64%);
}

body {
  --bg-opacity: 0.5;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: #333;
  position: absolute;
  inset: 0;
  --background-color: white;
  --border-color: lightgrey;
  --light-background: #eee;
  --selected-background: #eee;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-opacity: 0;
    background: black;
    color: #bbb;
    --background-color: #222;
    --light-background: #222;
    --border-color: #333;
    --selected-background: #444;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 300;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

main {
  position: relative;
  z-index: 10;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* first button has border-radius */
.sortButtons button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sortButtons button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
